<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <configSections>
    <section name="GridParams" type="GridMvcPOC.Util.GridOptions" />
  </configSections>

  <GridParams>
    <release>
      <add name="HeaderStyle" value="table" />
      <add name="SelectedRowStyle" value="selectRow" />
      <add name="Mode" value="All" />
      <add name="FirstText" value="First" />
      <add name="PreviousText" value="Prev" />
      <add name="NextText" value="Next" />
      <add name="LastText" value="Last" />
      <add name="NumericLinksCount" value="10" />
    </release>
    <debug>
      <add name="HeaderStyle" value="table" />
      <add name="SelectedRowStyle" value="selectRow" />
      <add name="Mode" value="All" />
      <add name="FirstText" value="First" />
      <add name="PreviousText" value="Prev" />
      <add name="NextText" value="Next" />
      <add name="LastText" value="Last" />
      <add name="NumericLinksCount" value="10" />
    </debug>
  </GridParams>
</configuration>
